body {
    background-color: #ececec !important;
}

.see-btn, .meet-btn {
    max-width: 210px !important;
    font-family: Georgia, sans-serif;
    font-size: 1.13em !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.32) !important;
    white-space: nowrap;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.13);
}

.see-btn {
    background-image: linear-gradient(0deg, #4f4d6a 0%, #6e6c8a 100%);
}

.meet-btn {
    background-image: linear-gradient(0deg, #9c8394 0%, #d0c2ca 100%);
}

#Area1 {
    height: 100vw;
    max-height: 1135px;
    min-height: 650px;
    background: center/cover url("../images/Design_Area1_background.png") no-repeat;
}

#Area1_heading #we_are {
    font-family: Georgia, sans-serif;
    font-size: 1.37em;
}

#Area1_heading h1 {
    font-family: Georgia, sans-serif;
    font-size: 4.5em;
}

#Area1_heading #a_creative {
    font-family: OpenSans, sans-serif;
    font-size: 1em;
}

#Area2 * {
    font-family: Georgia, sans-serif;
}

#Area2_heading p {
    font-size: 1em;
    line-height: 2.11;
}

#Area2_heading h2 {
    font-size: 1.9em;
}

#Area2 .card img {
    width: 99vw;
    max-width: 100vw;
}

#Area2 .card-title {
    font-size: 1.38em;
}

.carousel-item .card-body button:hover {
    background-color: #4f4d6a;
    border-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)
}

#Area3 * {
    font-family: Georgia, sans-serif;
}

#Area3 h4 {
    font-size: 1.5em;
    line-height: 1.125;
}

#Area3 p {
    font-size: 0.75em;
    line-height: 2;
}

#Area3 .view_more-btn {
    font-size: 0.75em;
    border: none;
}

@media only screen and (min-width: 576px) {
    #we_are {
        font-size: 1.5em;
    }

    #Area1_heading h1 {
        font-size: 5.81em;
    }

    #Area1 #a_creative {
        font-size: 1.13em;
    }

    #Area2_heading p {
        font-size: 1.13em;
    }

    #Area2_heading h2 {
        font-size: 2.3em;
    }

    #Area3 p {
        max-width: 19.03vw;
    }
}

@media only screen and (min-width: 768px) {
    #Area1_heading h1 {
        font-size: 7.81em;
    }

    #Area2_heading h2 {
        font-size: 3em;
    }
}

@media only screen and (min-width: 992px) {
    #Area2_heading h2 {
        font-size: 3.5em;
    }

    #Area2 .card img {
        width: 66.66666667%;
        max-width: 100%;
    }
}

@media only screen and (min-width: 1400px) {
    #Area2_heading p {
        font-size: 1.4em;
    }

    #Area2_heading h2 {
        font-size: 3.75em;
    }
}